.Label{
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    left: 5px;
    padding-left: 10px;
    z-index: 2;
}

.Collection{
    padding-top: 40px;
    padding-left: 10px;
    overflow-x: scroll;
}