.menus{
    position:absolute;
    top: 0;
    right: 0;
}

.label-dropdown{
    float:right;
    margin-right: 20px;
    margin-top: 15px;
}

.label-dropdown button{
    padding:0
}

.user-label{
    background-color: black;
    color: whitesmoke;
    padding:5px;
    border-radius: 30px;
    font-size: 14pt;
    cursor: pointer;
    width: 38px;
    height: 38px;
    text-align: center;
    /*padding-right: 0px;*/
}

.user-label:hover{
    background-color: gray;
}

.notification-bell{
    margin-top: 25px;
    margin-right: 15px;
    cursor: pointer;
}

.notification-bell:hover{
    color: gray;
}

.tachometer{
    margin-right: 15px;
    cursor: pointer;
}

.tachometer:hover{
    color: gray;
}

/*Portrait Modes*/
@media only screen and (max-width: 900px) {   /* screen width: Tab or less */
    .label-dropdown{
        margin-top: 5px;
        margin-right: 5px;
    }
    .notification-bell{
        margin-top: 15px;
    }
}
@media only screen and (max-width: 569px) {
    .label-dropdown{
        margin-top: 15px;
        margin-right: 15px;
    }
    .notification-bell{
        margin-top: 25px;
    }
}
@media only screen and (max-width: 350px) {
    .label-dropdown{
        margin-top: 10px;
    }
    .notification-bell{
        position: absolute;
        margin-top: 49px;
        right: 13px;
    }
    .tachometer{
        position: absolute;
        margin-top: 49px;
        right: 31px;
    }
}