.Card{
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f8f8f8;
    font-size: 12pt;
    cursor: pointer;
    /*height: 100px;*/
}

.Card:hover{
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
}