.Form{
    position: absolute;
    top: 48px;
    right: 90px;
    z-index: 2;
}

.Layout{
    position: absolute;
    width: 400px;
    height: 500px;
    pointer-events: none;
}

.user, .password,
.login, .sso{
    position: relative;
    margin-top: 75px;
    margin-left: 83px;
    width: 228px;
    height: 36px;
    background-color: transparent;
    border-radius: 14px;
    border: 0 solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.password{
    border-radius: 14px;
    margin-top: 19px;
}

.login{
    margin-top: 30px;
    height: 35px;
    font-weight: bolder;
}

.sso{
    margin-top: 28px;
    height: 35px;
    font-weight: bolder;
}

.cancel{
    position: absolute;
    margin-top: 70px;
    right: 70px;
    color: white;
}

@media only screen and (max-width: 569px) {
    .Form {
        top: 80px;
    }
}

@media only screen and (max-height: 200px),
        only screen and (max-width: 380px) { /* extreme small height */
    .Layout {
        display: none;
    }
    .Form{
        background-color: #8a2a8a;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 11;
    }
    .user, .password,
    .login, .sso{
        margin-top: 0;
        left: -30px;
        width: 65%;
        height: 28px;
        background-color: whitesmoke;
        border: 5px solid whitesmoke;
        border-radius: 10px;
    }

    .user{
        top: 20px;
    }

    .password{
        margin-top: 28px;
    }

    .login,.sso{
        margin-top: 10px;
        height: 35px;
        font-weight: bolder;
    }

    .cancel{
        position: relative;
        margin-top: 10px;
        left: 60px;
        width: 65%;
        color: white;
    }
}