.Form{
    position: absolute;
    width: 400px;
    top: 55px;
    height: 500px;
    right: 50px;
    z-index: 4;
}

.Layout{
    position: absolute;
    width: 400px;
    height: 500px;
    pointer-events: none;
    align-items: center;
    z-index: 2;
}

.user, .password,
.login, .sso{
    position: relative;
    margin-top: 80px;
    margin-left: 92px;
    z-index: 7;
    width: 210px;
    height: 28px;
    background-color: transparent;
    border: 0 solid transparent;
}

.password{
    margin-top: 28px;
}

.login{
    margin-top: 32px;
    height: 35px;
    font-weight: bolder;
}

.sso{
    margin-top: 28px;
    height: 35px;
    font-weight: bolder;
}

.cancel{
    position: absolute;
    margin-top: 70px;
    right: 160px;
    z-index: 6;
    color: white;
}

@media only screen and (max-width: 900px) {  /* Tab & Pad */
    .Layout {
        background-color: #fafafa;
    }
}
@media only screen and (max-width: 600px) { /* mobile phones */
    .Form {
        top: 120px;
        right: 0;
    }
}

@media only screen and (max-height: 200px) { /* extreme small height */
    .Layout {
        display: none;
    }
    .Form{
        background-color: #8a2a8a;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 6;
    }
    .user, .password,
    .login, .sso{
        margin-top: 0;
        z-index: 3;
        left: -30px;
        width: 65%;
        height: 28px;
        background-color: whitesmoke;
        border: 5px solid whitesmoke;
        border-radius: 10px;
    }

    .user{
        top: 20px;
    }

    .password{
        margin-top: 28px;
    }

    .login,.sso{
        margin-top: 10px;
        height: 35px;
        font-weight: bolder;
    }

    .cancel{
        position: relative;
        margin-top: 10px;
        left: 60px;
        width: 65%;
        z-index: 3;
        color: white;
    }
}