.App {
  /*text-align: center;*/
}

.App-header {
  position: fixed;
  background-color: #f1f1f1;
  font-size: calc(10px + 2vmin);
  width: 100%;
  height: 48px;
  z-index: 10;
}

.App-Content {
  position: relative;
  top: 48px;
  z-index: 1;
}

.App-Workspace{
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.App-link {
  color: #61dafb;
}

#app-header{
  color: #333;
  font-family: "Cantarell", sans-serif;
  font-weight: 200;
  margin-left: 50px;
}

.App-logo {
  position: fixed;
  width: 50%;
  height: 80%;
  pointer-events: none;
  left: 25%;
  top:5%;
  align-items: center;
  z-index: 0;
}

#logInBtn, #registerBtn{
  position: absolute;
  display: none;
  z-index: 3;
  top: -5px;
  right: 1px;
}
#logInBtn{
  right: 111px;
}

#l-logInBtn, #l-registerBtn{
  padding: 2px 10px;
  font-size: 11pt;
  color: #fafafa;
  border-radius: 15px;
  position: absolute;
  top:10px;
  right: 150px;
  cursor: pointer;
  z-index: 5;
}
#l-logInBtn {
  right: 225px;
  background-color: blue;
}
#l-registerBtn {
  background-color: brown;
}

/*cursor blink animation*/
#display-cursor{
  animation: cursor-blink infinite 0.50s ;
}

/*cursor blink animation*/
@keyframes cursor-blink {
  from {
    color: dimgray;
  }
  to {
    color: #fafafa;
  }
}

/*Portrait Modes*/
@media only screen and (max-width: 900px) {   /* screen width: Tab or less */
  #l-logInBtn, #l-registerBtn{
    display: none;
  }
  #logInBtn, #registerBtn{
    display: block;
    font-size: 12pt;
  }
  .App-logo {
    width: 80%;
    height: 60%;
    left: 10%;
    top: 0;
  }
}
@media only screen and (max-width: 780px) {   /* screen width: Tab II or less */
  #app-header{
    font-size: 25pt;
  }
  #logInBtn, #registerBtn{
    font-size: 10pt;
    padding: 1px 5px;
  }
  #logInBtn{
    right: 1px;
  }
  #registerBtn{
    top: 20px
  }
}
@media only screen and (max-width: 600px) { /* screen width: mobile phones or less */
  #app-header{
    margin-left: 10px;
    margin-right: 10px;
    width: 70%;
    font-size: 23pt;
  }
  #logInBtn, #registerBtn{
    font-size: 11pt;
    padding: 8px 5px;
  }
  #logInBtn{
    right: 91px;
  }
  #registerBtn{
    top: -5px
  }
}
@media only screen and (max-width: 569px) {
  .App-header{
    height: 80px;
  }
  .App-Content{
    top: 80px;
  }
}
@media only screen and (max-width: 410px) { /* screen width: mobile phones or less */
  #logInBtn, #registerBtn{
    font-size: 10pt;
    padding: 1px 5px;
  }
  #logInBtn{
    right: 1px;
  }
  #registerBtn{
    top: 20px;
  }
}
@media only screen and (max-width: 300px) { /* screen width: small screen devices */
  .App-header{
    height: 95px;
  }
  #app-header{
    font-size: 19pt;
    width: 55%;
  }
  .App-Content{
    top: 95px;
  }
  #logInBtn, #registerBtn{
    font-size: 8pt;
    padding: 1px 5px;
  }
  #logInBtn{
    top: -2px;
    right: 1px;
  }
  #registerBtn{
    top: 20px;
  }
}

@media only screen and (max-height: 700px) {
  .App-logo{
    top:15%
  }
}

@media only screen and (max-height: 300px) {
  .App-logo{
    top:30%
  }
}

@media only screen and (max-width: 300px) {
  @media only screen and (max-height: 400px) {
    .App-logo{
      top:40%
    }
  }
}

/* Unexpected & Unsupported screen size */
@media (max-height: 80px) or (max-width: 200px) {
  .App{
    display: none;
  }
  #unexpected-screen-alert{
    display: block;
  }
}
